// VARIABLES

// Fuentes
$fuente_principal : 'Roboto', sans-serif;

// Tamaño de fuentes
$titulo: 1.96875rem;

// Colores
$main : #242321;
$secundario: #741d51;
$terciario: #e44e52;
$blanco: #ffffff;

$bg-footer: #2d2a27;

